<p id="notice"><%= notice %></p>

<h1>Listing Entradas</h1>

<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Descripcion</th>
      <th>Cantidad</th>
      <th>Precio compra</th>
      <th>Precio venta</th>
      <th>Proveedor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entradas.each do |entrada| %>
      <tr>
        <td><%= entrada.product.nombre %></td>
        <td><%= entrada.descripcion %></td>
        <td><%= entrada.existencia %></td>
        <td><%= entrada.precio_compra %></td>
        <td><%= entrada.precio_venta %></td>
        <td><%= entrada.proveedor_id %></td>
        <td><%= link_to 'Show', entrada %></td>
        <td><%= link_to 'Edit', edit_entrada_path(entrada) %></td>
        <td><%= link_to 'Destroy', entrada, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entrada', new_entrada_path %>
