<p id="notice"><%= notice %></p>

<p>
  <strong>Producto:</strong>
  <%= @entrada.product_id%>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @entrada.descripcion %>
</p>

<p>
  <strong>Existencia:</strong>
  <%= @entrada.existencia %>
</p>

<p>
  <strong>Precio compra:</strong>
  <%= @entrada.precio_compra %>
</p>

<p>
  <strong>Precio venta:</strong>
  <%= @entrada.precio_venta %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @entrada.proveedor_id %>
</p>

<%= link_to 'Edit', edit_entrada_path(@entrada) %> |
<%= link_to 'Back', entradas_path %>
